<div class="container" style="padding-top: 10px;">
  <div class="row">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="http://localhost:8088/v1/photos/user/{{user.idUser}}" width="50" height="50" class="d-inline-block align-top" alt="">
        {{user.firstName}}&nbsp;{{user.lastName}}
      </a>
    </nav>
  </div>
<br />
  <div class="row">
    <input type="text" placeholder="Search" class="form-control">
  </div>
  <br />
  <div class="row" *ngIf="errorMessage">
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  </div>
  <div class="row" *ngIf="successMessage">
    <div class="alert alert-success" role="alert">
      {{successMessage}}
    </div>
  </div>
 <div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a [routerLink]="['/createcharacter']" class="nav-link"><i class="fa fa-plus"></i> Add new character</a></li>
    </ol>
  </nav>
 </div>
  <br />
  <div class="row">
    <div class="card" *ngFor="let car of animeCharacters" style="width: 18rem; margin-right: 30px">
      <div class="card-header bg-transparent"  *ngIf="car.idOwner !== -1">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-link" (click)="updateCharacter(car.idCharacter)"><i class="fa fa-edit"></i> Edit</button>
          <button type="button" class="btn btn-link" (click)="deleteEmployee(car.idCharacter)"><i class="fa fa-trash"></i> Remove</button>
          <button type="button" class="btn btn-link"  *ngIf="car.shared == 0" (click)="shareCharacter(car.idCharacter, car.shared)"><i class="fa fa-share-alt"></i> Share</button>
          <button type="button" class="btn btn-link"  *ngIf="car.shared == 1" (click)="shareCharacter(car.idCharacter, car.shared)"><i class="fa fa-share-alt"></i> Unshare</button>
        </div>
      </div>
          <div class="card-header bg-transparent" *ngIf="car.idOwner === -1">
            <button type="button" class="btn btn-block btn-outline-primary btn-link">
              <i class="fa fa-share-alt"></i> Shared</button>
          </div>

      <img  src="http://localhost:8088/v1/photos/character/{{car.idCharacter}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{car.characterName}}</h5>
      <p class="card-text">{{car.legend}}</p>
     <div class="card-footer">
      <span class="badge badge-pill badge-warning">{{car.category}}</span>

     </div>
    </div>
    </div>
  </div>
</div>
